@page {
    /* Set the physical paper size */
    size: A4;
    
    /* Set margins for the whole document */
    margin: 1.2cm; 
}

@page {
    margin-top: 0.2in;
    margin-bottom: 0.2in;
    margin-left: 0.1in;
    margin-right: 0.1in;
}

@page :first {
    margin-top: 0.2in; /* Smaller margin for the first page only */
    padding-top: 0.0in;
}

body {
    font-size: 10pt; 
     font-family: 'Inter', 'Segoe UI', 'Aptos', sans-serif;
}

p {
}

li {
    font-size: 10pt;
}

h1 { margin: 0 0 0pt 0; }
h2 { margin: 5pt 5pt 0pt 0; } /* More space above h2 than below */
h3 { margin: 3pt 3pt 0pt 0; } /* More space above h2 than below */
p  { margin: 2pt 2pt 0pt 0; }
li  { margin: 2pt 2pt 0pt 0; }
ul { margin: 2pt 2pt 0pt 0; padding-left: 1.2rem; }
